@model IEnumerable<ShoppingCart.Application.ViewModels.CartProductViewModel>

@{
    ViewData["Title"] = "Cart";
}

<div class="container">
    <div class="row">
        @Html.Partial("ViewCartPartial", Model)
    </div>
</div>