@{
    ViewData["Title"] = "Shopping Extreme";
}

<div class="text-center">
    <h1 class="display-4 mb-3">Welcome to Shopping Extreme</h1>
    <img src="/Images/external-content.duckduckgo.com.jpg" style="width:100%"/>    
</div>
